body {
  background-color: white;
}

.gridWrapper {
  display: grid;
  width: 900px;
  height: 900px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(300px, 1fr);

  margin: auto;
  padding: 10px;
}

.gridWrapper > div {
  background-color: black;
  border: solid 4px white;
  color: white;
  font-size: 15em;
  text-align: center;
}


.score{
    display:flex;
    justify-content: space-between;

    margin:0% 20%;
    
}

